---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Frontmatter, sortDateDescending } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>("../pages/blog/articles/*.md");
const posts = sortDateDescending(
	allPosts.filter((post) => post.frontmatter.draft != true)
).slice(0, 3);
---

<BaseLayout title="Home" activeLink="home">
	<section
		class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-48"
	>
		<div class="flex flex-col flex-wrap flex-grow">
			<div class="text-left text-2xl mb-[0.7em]">
				<br />
				<div class="w-max">
					<h1
						class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5 text-5xl bg-gradient-to-r from-orange-500 to-yellow-500 bg-clip-text text-transparent font-bold"
					>
						<span class="w-max">Hi! My name is Simran</span>
						<span
							class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block"
						>
							<a href="blog/articles/Kaur/" class="">
								Kaur
							</a></span
						><span> Momi.</span>
					</h1>
				</div>

				<div class="whitespace pre line">
					<button
						class="bg-pink-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded mt-10 mb-10"
						id="reveal-button"
					>
						CLICK ME
					</button>
				</div>
				<span class="w-max text-black">I'm a</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block m-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						law
					</a></span
				>
				<span class="text-black"> student and a self-taught</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						coder.
					</a>
				</span>
				<span class="text-black">
					As a curious and ambitious individual I enjoy taking on new
					challeneges.
					<br />
					<br />
					Currently I'm focused on applying my
				</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						entreprenurial
					</a>
				</span>
				<span class="text-black"> skills and</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						work experience
					</a>
				</span>
				<span class="text-black">
					in ways that uplift my commuity.</span
				>
				<br />
				<br />
				<span class="text-black">
					Meanwhile, other passions of mine include writing for
				</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						aMUSEment,
					</a>
				</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						competing in sports,
					</a>
				</span>
				<span class="text-black"> and involving myself in</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="/blog/articles/my-first-article/" class="">
						crafts projects
					</a>
				</span>
				<span class="text-black"> all in the company of</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a href="https://open.spotify.com/user/simranm-gb" class="">
						good music
					</a>
				</span>
				<span class="text-black"> and my</span>
				<span
					class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent text scale-1 hover:scale-110 transition-[scale] inline-block ml-1 mr-1"
				>
					<a
						href="https://www.instagram.com/milo_momi_damilo/"
						class=""
					>
						furry bestie.
					</a>
				</span>
				<br />
				<br />
				<span class="text-black">
					If you don't catch me making cheesy puns you can be sure to
					find me trying to catch a 'byte' at my local restaurants (A
					real gouda one, I know!)</span
				>
				<br />
				<br />
				<span class="text-black">
					I hope you can learn a little more about me, and if you want
					to chat feel free to contact me via email!
				</span>
			</div>
		</div>
	</section>
</BaseLayout>

<section>
	<h2
		class="mx-auto text-center mb-8 bg-gradient-orange text-transparent bg-clip-text text-4xl border-b-2 border-red-300 font-semibold w-fit"
	>
		My Projects
	</h2>

	<div class="flex flex-wrap flex-col justify-center gap-12">
		{posts.map((post) => <ArticleCard content={post} />)}
	</div>
</section>

<script type="text/javascript">
const button = document.getElementById("reveal-button");
button.addEventListener("click", () => {
	document.body.className = "bg-gradient-to-r from-blue-200 to-green-200";
});
</script>
